.backdrop {
  position: fixed;
  z-index: 999;
  inset: 0;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(1rem);
}

.children {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: grid;
  gap: 2rem;

  width: 100%;
  max-width: 64rem;
  margin-inline: auto;
  padding: 2rem;
  border-radius: 0.5rem;
}
